<!DOCTYPE html>
<html lang="it">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea un Evento</title>
    <link rel="stylesheet" href="../static/css/areaGestionale.css">
    <style>
        
    </style>
</head>
<body>
    <div class="contenitore">
        <h1>Crea un evento</h1>
        <form>
            <h2><label for="nomeEvento">Nome evento:</label>
                <input type="text" id="nomeEvento" name="nomeEvento" required>
            </h2>

            <h3><label for="luogo">Luogo:</label>
                <input type="text" id="luogo" name="luogo" required>
            </h3>

            <h4><label for="data">Data:</label>
                <input type="date" id="data" name="data" required>
            </h4>

            <h4><label for="ora">Ora:</label>
                <input type="time" id="ora" name="ora" required>
            </h4>

            <h5><label for="capienzaMax">Capienza massima:</label>
                <input type="number" id="capienzaMax" name="capienzaMax" required>
            </h5>

            <input type="button" value="Crea evento" onclick="creaEvento()">
        </form>
    </div>
    <script>
        function creaEvento() {
            alert('Evento creato!');
        }
    </script>
</body>
</html>
